/**app.less
@author Ishtehar Hussain
@desc The main files with all the styles for the app
**/
html {
  background-color: #345;
}
body {
  color: #494252;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}
.white-card {
  width: 100%;
  min-height: 75px;
  background-color: #FFF;
  margin-top: 5px;
  margin-bottom: 5px;
}
.stat {
  font-family: 'Oswald', serif;
  text-align: center;
}
.stat-figure {
  font-size: 1.5em;
}
.stat-diagram {
  height: 5em;
  border: 1px sold red;
}
.stat-text {
  font-size: 1em;
}
.nav-topmost {
  background-color: #345;
}
.nav-topmost a {
  color: #FFF;
  text-decoration: none;
}
.nav-topmost a:hover {
  color: #FA4;
}
#NavBootstrapOverride > a:hover {
  background-color: #FA4;
  color: #345;
}
#NavBootstrapOverride > a:focus {
  background-color: #FA4;
  color: #345;
}
#NavBootstrapOverride > a:active {
  background-color: #FA4;
  color: #345;
}
.dark-border-bottom {
  border-bottom: 5px solid #FA4;
}
.navbar-intertrac {
  background-color: #57b1bb;
  margin-top: 50px;
  margin-bottom: 0px;
  z-index: 500;
  border-bottom: 12px solid #DDD;
}
.navbar-intertrac:hover {
  border-bottom: 12px solid #FA4;
}
.nav-intertrac {
  line-height: 3em;
}
.nav-intertrac li {
  width: auto;
  display: block;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
.nav-intertrac li a {
  color: #FFF;
}
.nav-intertrac li a:hover {
  background-color: #7BC2CA;
  border-bottom: 5px solid #FA4;
}
.nav-intertrac li a:active {
  color: #FA4;
  background-color: #FFF;
}
#mainContent {
  width: 100%;
  height: auto;
  min-height: 60vh;
  margin: 100px 0 0 0;
  background-color: #EEE;
}
.welcome-banner {
  background-color: #345;
  min-height: 60vh;
  margin: 0;
}
.welcome-banner h1 {
  font-size: 100px;
  font-weight: lighter;
  color: #FA4;
  margin-top: 1em;
}
.welcome-banner h1 span {
  color: #FFF;
  font-weight: bolder;
}
.main-title {
  font-size: 50px;
}
.centered {
  margin-left: auto;
  margin-right: auto;
}
.left-aligned {
  margin-left: 1em;
  margin-right: auto;
}
.vertical-spaced {
  margin-top: 1em;
  margin-bottom: 1em;
}
.border {
  border: 1px dashed green;
}
.menu-option-title {
  font-size: 1.5em;
  font-weight: bolder;
}
.menu-table-cell {
  padding: 5px;
  vertical-align: middle;
  text-align: center;
  /*border: 1px solid blue;*/
}
.subMenu {
  display: none;
  background-color: #FFF;
}
.subMenu a {
  color: #40959f;
}
.subMenu a:hover {
  color: #FA4;
}
#footer {
  postion: absolute;
  background-color: #57b1bb;
  border-top: 1em solid #7BC2CA;
  margin: 0;
  bottom: 0;
}
#footer p {
  color: #FFF;
  font-weight: bold;
}
