/**app.less
@author Ishtehar Hussain
@desc The main files with all the styles for the app
**/
body {
  color: #494252;
  background-color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}
.nav-topmost {
  background-color: #de4855;
}
.nav-topmost .container-fluid {
  background-color: #7BC2CA;
}
.nav-topmost a {
  color: pink;
  text-decoration: none;
}
.navbar-intertrac {
  background-color: #FFF;
  margin-top: 50px;
  margin-bottom: 0px;
  z-index: 500;
  border-bottom: 10px solid #7BC2CA;
}
.dark-border-bottom {
  border-bottom: 5px solid #E25E69;
}
.welcome-banner {
  background-color: #E25E69;
  height: 80vh;
  margin: 0;
}
.welcome-banner h1 {
  font-size: 100px;
  font-weight: lighter;
  color: #f4dda4;
  margin-top: 1em;
}
.welcome-banner h1 span {
  color: #FFF;
  font-weight: bolder;
}
.main-title {
  font-size: 50px;
}
.centered {
  margin-left: auto;
  margin-right: auto;
}
.left-aligned {
  margin-left: 1em;
  margin-right: auto;
}
.vertical-spaced {
  margin-top: 1em;
  margin-bottom: 1em;
}
.border {
  border: 1px dashed green;
}
.menu-option-title {
  font-size: 1.5em;
  font-weight: bolder;
}
.menu-table-cell {
  padding: 5px;
  vertical-align: middle;
  text-align: center;
  /*border: 1px solid blue;*/
}
.nav-intertrac {
  background-color: #FFF;
  line-height: 1em;
}
.nav-intertrac li {
  width: auto;
  display: block;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
.nav-intertrac li a {
  color: #47a7b1;
  background-color: #FFF;
}
.nav-intertrac li a:hover {
  color: #E25E69;
  background-color: #FFF;
  border-bottom: 5px solid #E25E69;
}
.nav-intertrac li a:active {
  color: #E25E69;
  background-color: #FFF;
}
.subMenu {
  display: none;
  background-color: #FFF;
}
.subMenu a {
  color: #40959f;
}
.subMenu a:hover {
  color: #E25E69;
}
#footer {
  height: 200px;
  background-color: #57b1bb;
  border-top: 1em solid #7BC2CA;
  margin: 0;
}
#footer p {
  color: #FFF;
  font-weight: bold;
}
