/**app.less
@author Ishtehar Hussain
@desc The main files with all the styles for the app
**/
::-webkit-scrollbar {
  display: none;
}
html {
  background-color: #333634;
}
body {
  color: #494252;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background-color: #C4CCC3;
}
body h1 {
  font-family: 'Montserrat', sans-serif;
}
.white-card {
  width: 100%;
  background-color: #FFF;
  margin-top: 1em;
  margin-bottom: 1em;
}
.marg-top {
  margin-top: 2em;
}
.stat {
  text-align: center;
  font-weight: 100;
}
.stat-figure {
  font-size: 4em;
}
.stat-diagram {
  height: 20em;
  border: 1px sold red;
}
.stat-text {
  font-size: 1em;
  margin-bottom: 2em;
  font-weight: 100;
}
.nav-topmost {
  background-color: white;
}
.nav-topmost a {
  color: black;
  text-decoration: none;
}
.nav-topmost a:hover {
  color: #F26101;
}
#NavBootstrapOverride > a:hover {
  background-color: white;
  color: #F26101;
  border-bottom: 3px solid #F26101;
}
#NavBootstrapOverride > a:focus {
  background-color: white;
  color: #F26101;
}
#NavBootstrapOverride > a:active {
  background-color: white;
  color: #F26101;
}
.dark-border-bottom {
  background-color: #F26101;
}
.navbar-intertrac {
  background-color: #FFF;
  margin-top: 50px;
  margin-bottom: 0px;
  z-index: 500;
  border-bottom: 6px solid #F26101;
}
.nav-intertrac {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: bolder;
  line-height: 2em;
}
.nav-intertrac li {
  width: auto;
  display: block;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
.nav-intertrac li a {
  color: #0295C6;
}
.nav-intertrac li a:hover {
  color: #F26101;
  background-color: #FFF;
}
.nav-intertrac li a:active {
  color: #F26101;
  background-color: #FFF;
}
.subMenu {
  display: none;
  background-color: #EEE;
}
.subMenu a {
  color: #0295C6;
}
.subMenu a:hover {
  color: #F26101;
}
.menu-option-title {
  font-size: 1.2em;
  font-family: 'Montserrat', serif;
  font-weight: 600;
}
.menu-table-cell {
  padding: 5px;
  vertical-align: middle;
  text-align: center;
  /*border: 1px solid blue;*/
}
#mainContent {
  width: 100%;
  height: auto;
  min-height: vh;
  margin-top: 100px;
  background-color: #FFF;
}
#mainContent hr {
  background-color: #DDD;
}
#mainContent table {
  background-color: #EEE;
}
#mainContent table thead tr {
  font-family: 'Montserrat', serif;
  background-color: #F26101;
  color: #FFF;
  text-transform: uppercase;
}
.welcome-banner {
  background-color: #DDD;
  height: auto;
  margin: 0;
}
.welcome-banner h1 {
  font-size: 100px;
  font-weight: 500;
  color: #F26101;
  margin-top: 1em;
}
.welcome-banner h1 span {
  color: #FFF;
  font-weight: 500;
}
.main-title {
  font-size: 50px;
}
.centered {
  margin-left: auto;
  margin-right: auto;
}
.left-aligned {
  margin-left: 1em;
  margin-right: auto;
}
.vertical-spaced {
  margin-top: 1em;
  margin-bottom: 2.5em;
  height: 4em;
}
.border {
  border: 1px dashed green;
}
#footer {
  postion: absolute;
  background-color: #118eb7;
  border-top: 1px solid #0295C6;
  margin: 0;
  padding-top: 7vh;
  padding-bottom: 3vh;
  bottom: 0;
}
#footer p {
  color: white;
  font-weight: bold;
}
.icon-bar {
  background-color: black;
}
