body, table{
  //font-size : 15px !important;
}


@light-gray : #EBEBEB;


.bg-light-gray{
  background-color: @light-gray;
}

.border-light-gray{
  border-color: @light-gray !important;
}

.font-light-gray{
  color: darken(@light-gray, 60%) !important;
}

.mr-invoice{
  margin-right: 7%;
}

input{
  max-width: 100%;
}





.mt-1{
  margin-top: .25rem;
}
.mt-2{
  margin-top : .5rem;
}

.mt-3{
  margin-top: 1rem;
}


.mr-3{
  margin-right : 1rem;
}

.mr-4{
  margin-right : 1.5rem;
}


.ml-1{
  margin-left: .25rem;
}
.ml-2{
  margin-left : .5rem;
}

.ml-3{
  margin-left: 1rem;
}

.ml-4{
  margin-left : 1.5rem;
}
.ml-5{
  margin-left : 2.5rem;
}



.mr-3{
  margin-right : 1rem;
}

.mr-4{
  margin-right : 1.5rem;
}


.mr-1{
  margin-right: .25rem;
}
.mr-2{
  margin-right : .5rem;
}

.mr-3{
  margin-right: 1rem;
}

.mr-4{
  margin-right : 1.5rem;
}
.mr-5{
  margin-right : 2.5rem;
}

.my-2{
  margin-top : .5rem;
  margin-bottom: .5rem;
}

.my-3{
  margin-top : 1rem;
  margin-bottom: 1rem;
}

.my-4{
  margin-top : 1.5rem;
  margin-bottom: 1.5rem;
}
.p-1{
  padding : .25rem;
}
.p-2{
  padding : .5rem;
}

.p-3{
  padding : 1rem;
}

.p-4{
  padding : 1.5rem;
}

.p-5{
  padding : 2.5rem;
}

.px-5{
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.pt-2{
  padding-top : .5rem;
}

.pt-3{
  padding-top : 1rem;
}

.pt-4{
  padding-top : 1.5rem;
}
.pr-2{
  margin-right: .5rem;
}
.pr-3{
  margin-right: 1rem;
}

.pb-1{
  padding-bottom: 1rem;
}


a {
  .fal, .far, .fas, .fab {
    margin-right: .75rem;
  }
}

.p-0{
  padding : 0 !important;
}

.pagination{
  //display : inline;

}

.centered{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.row{
  display: flex;
}

.mimi{
  position: relative;
  left: -25%;
}

.w-auto{
  width: auto;
}



//.col-xs-6{
// flex-grow: 1;
// //flex-shrink: 1;
//}
.justify-content-center{
  justify-content: center;
}
//.dataTables_paginate{
//  margin-top: 0;
//  margin-right: 0;
//}