body, table{
  font-size : 15px !important;
}
.fal, .far, .fas{
  margin-right: 5px;
}

.p-0{
  padding : 0 !important;
}

.pagination{
  //display : inline;

}
//.dataTables_paginate{
//  margin-top: 0;
//  margin-right: 0;
//}