/**app.less
@author Ishtehar Hussain
@desc The main files with all the styles for the app
**/

@base: #F26101;
@nav-background-color: #FFF;//#304269;
@nav-tab-color: #FFF;
@nav-tab-highlight:#FFD03F;

@red:#E25E69;
@contrast:#7BC2CA;
@yellow:#EC7;
@dark: #494252;
@purple: #858FB2;
@a-color:#304269;

@slate-gray: #345;
@orange: #FA4;
@green: #7C7;
@light-gray: #DDD;

html{
  background-color: @slate-gray;
}
body{
  color: @dark;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  //min-height: 100vh;
}

.white-card{
  width: 100%;
  //min-height: 200px;
  background-color: #FFF;
  //border: 1px solid red;
  margin-top: 1em;
  margin-bottom: 1em;
}

.marg-top{
  margin-top: 2em;
}

.stat{
  font-family: 'Oswald', serif;
  text-align: center;
  font-weight: bolder;
}
.stat-figure{
  font-size: 4em;
}

.stat-diagram{
  height: 20em;
  border: 1px sold red;
  font-family: 'Oswald', serif;
}

.stat-text{
  font-size: 1em;
  margin-bottom: 2em;
}
.nav-topmost{
  background-color: @slate-gray;


  a{
    color: #FFF;
    text-decoration: none;

    &:hover{
      color: @orange;
    }
  }
}

#NavBootstrapOverride{
  //li{

    >a{
      &:hover
      {
        background-color: @orange;
        color: @slate-gray;
      }

      &:focus
      {
        background-color: @orange;
        color: @slate-gray;
      }
      &:active
      {
        background-color: @orange;
        color: @slate-gray;
      }


    }
  //}
}

.dark-border-bottom{
  border-bottom: 5px solid @orange;
}

.navbar-intertrac{
  background-color: darken(@contrast, 10%);
  margin-top: 50px;
  margin-bottom: 0px;
  z-index: 500;
  border-bottom: 12px solid @light-gray;

  &:hover{
    border-bottom: 12px solid @orange;
  }
}

.nav-intertrac{
  //background-color: @light-gray;
  line-height: 3em;
  li{
      width: auto;
      display: block;
      float: left;
      margin-left: 0;
      margin-right: 0;
    a{
      color: #FFF;//darken(@contrast,15%);
      //font-weight: bolder;
      //background-color: @nav-tab-color;
      //border: 0px;

      &:hover{
        //color: @slate-gray;//darken(saturate(@green,100%),20%);
        background-color: @contrast;//darken(@contrast, 10%);
        border-bottom: 5px solid @orange;//lighten(saturate(@green,100%),10%);
      }
      &:active{
        color: @orange;
        background-color: #FFF;
      }

    }
  }
}

#mainContent{
  width: 100%;
  height: auto;
  min-height: 60vh;
  margin: 100px 0 0 0;
  background-color: #EEE;
}

.welcome-banner{
  background-color: @slate-gray;
  //height: 100vh -100px;
  min-height: 60vh;
  //overflow: hidden;
  margin: 0;
  h1{

    font-size: 100px;
    font-weight: lighter;
    color: @orange;//lighten(@yellow, 10%);

    margin-top: 1em;
    span{
      color: #FFF;
      font-weight: bolder;
    }
  }
}
.main-title{
  font-size: 50px;
}

.centered{
  margin-left: auto;
  margin-right: auto;

}

.left-aligned{
  margin-left: 1em;
  margin-right: auto;
}

.vertical-spaced{
   margin-top: 1em;
   margin-bottom: 1em;
}

.border{
  border: 1px dashed green;
}

.menu-option-title{
  font-size: 1.5em;
  font-weight: bolder;
}

.menu-table-cell{
  padding: 5px;
  vertical-align: middle;
  text-align: center;
  /*border: 1px solid blue;*/

}



.subMenu{
  display: none;
  background-color: #FFF;
  //border-bottom: 5px solid @contrast;

  a{
    color: darken(@contrast,20%);

    &:hover{
      color: @orange;
    }
  }

  }

  #footer{
    postion: absolute;
    background-color: darken(@contrast, 10%);
    border-top: 1em solid @contrast;
    margin: 0;


    bottom: 0;

    p{
      color: #FFF;
      font-weight: bold;
    }
  }
