/**app.less
@author Ishtehar Hussain
@desc The main files with all the styles for the app
**/

@menu-background: #DDD;

.main-title{
  font-size: 50px;
}

.centered{
  margin-left: auto;
  margin-right: auto;

}

.border{
  border: 1px dashed green;
}



.menu-table-cell{
  padding: 5px;
  vertical-align: middle;
  text-align: center;
  /*border: 1px solid blue;*/

}

.subMenu{
  display: none;
  background-color: @menu-background;

  :hover{
    background-color: #EEE;
  }


  div{
    margin: 0 auto;



    a{
      color: #000;
      line-height: 300%;
      text-decoration: none;
      font-weight: bolder;


    }
  }
}
